:root{
    --cor-White: #FFFFFF;
    --cor-Silver: #F5F7FA;
    --cor-Grey_Blue: #ABBED1;
    --cor-L_Grey: #89939E;
    --cor-Grey: #717171;
    --cor-D_Grey: #4D4D4D;
    --cor-Black: #263238;
    --cor-White-stroke: #ABBED1;

    --cor-Info: #2194F3;
    --cor-Secondary: #263238;
    --cor-Primary: #4CAF4F;
    
}